.body-taf {
  &.taf-importer {
    .input {
      textarea {
        display: block;
        width: 100%;
        height: 20em;
      }
    }
  }

  .taf-input {
    .name {
      width: 5em;
      vertical-align: middle;

      input:first-child {
        margin-bottom: 1em;
      }
    }

    .line {
      padding: 3px 0 0 0 !important;
    }

    .place {
      vertical-align: middle;
      text-align: center;
    }

    .value {
      width: 2em;

      input {
        width: 2em;
        padding: 0;
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  .taf-tournament-table {
    .heading {
      .index, .information {
        cursor: pointer;
      }

      .date {
        font-style: italic;

        &:before {
          content: "["
        }

        &:after {
          content: "]"
        }
      }
    }

    ul.ratings {
      padding: 0;

      li {
        display: inline-block;
        padding: 0 2px;
      }
    }


    .action {
      cursor: pointer;
    }
  }
}