
<nav class="nav-wrapper" ng-controller="NavCtrl" ng-class="{opened: open}">
  <a class="nav-trigger" ng-click="open=!open"><span>Menu</span></a>
  <ul class="nav-list" data-highlight-active>
    <li>
      <a ng-click="open=false" class="ti-pencil" href="#/taf/home"><span data-i18n="Eingabe"></span></a>
    </li>
    <li>
      <a ng-click="open=false" class="ti-import" href="#/taf/import"><span data-i18n="Importieren"></span></a>
    </li>
    <li>
      <a ng-click="open=false" class="glyphicon glyphicon-retweet" href="#/taf/calculate"><span data-i18n="Berechnen"></span></a>
    </li>
  </ul>
  <div class="nav-overlay" ng-click="open=!open"></div>
</nav>
