
<nav class="nav-wrapper" ng-class="{opened: navigation.open}">
  <a class="nav-trigger" ng-click="navigation.open=!navigation.open"><span>Menu</span></a>
  <ul class="nav-list" highlight-active>
    <li>
      <a ng-click="open=false" class="ti-list" ui-sref="taf.list">
        <span data-i18n="Turnierliste"></span>
      </a>
    </li>
    <li>
      <a ng-click="open=false" class="ti-import" href="#/taf/import">
        <span data-i18n="Importieren"></span>
      </a>
    </li>
  </ul>
  <div class="nav-overlay" ng-click="navigation.open=!navigation.open"></div>
</nav>
