
$menu-background: #bbb;
$menu-bordercolor: #333;
$menu-font-color-active: #f99501;
$menu-font-background: #fff;
$menu-trigger-color: $menu-bordercolor;
$menu-trigger-color-open: $menu-font-background;

body {
  background: $menu-background;
}

.content-container {
  @include transition(all .4s);

  &.small {
    padding: 10px 80px 0 0;
    font-size: 0.6em;
  }
  .view-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
}

.nav-container {

  .nav-wrapper {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-width: 0px;
    border-style: solid;
    border-color: $menu-bordercolor;
    background-color: rgba(0,0,0,0);
    @include transition(border-width 0.3s, background-color 0.3s, height 0s 0.3s);
    z-index: 100;

    .nav-overlay {
      position: absolute;
      width: 100%;
    }

    .nav-trigger {
      position: fixed;
      top: 15px;
      right: 20px;
      display: block;
      width: 50px;
      height: 50px;
      cursor: pointer;
      pointer-events: initial;

      span {
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 100%;
        height: 4px;
        margin-top: -2px;
        background-color: $menu-trigger-color;
        font-size: 0px;
        user-select: none;
        @include transition(background-color 0.3s);

        &:before, &:after {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          background: $menu-trigger-color;
          content: '';
          @include transition(transform 0.3s);
        }

        &:before {
          @include transform(translateY(-250%));
        }

        &:after {
          @include transform(translateY(250%));
        }
      }
    }

    .nav-list {
      position: fixed;
      top: 75px;
      right: 0;
      margin: 0;
      padding: 0;
      width: 90px;
      list-style: none;
      backface-visibility: hidden;

      li {
        padding: 16px 0;
        opacity: 0;
        visibility: hidden;
        @include transition(transform 0.3s, opacity 0.2s, visibility 0s 0.3s);

        &, a {
          display: block;
          width: 100%;
          text-align: center;
        }

        a {
          display: block;
          outline: none;
          color: transparent;
          text-decoration: none;
          font-size: 0px;

          span {
            color: transparent;
            font-size: 0px;
            position: absolute;
            width: 0;
          }

          &:before {
            color: $menu-background;
            font-size: 48px;
            display: block;
            @include transition(color 0.2s);
          }

          &:hover:before,
          &:focus:before  {
            color: $menu-font-background;
          }
        }

        &.active a {
          &:before {
            color: $menu-font-color-active;
          }

          &:hover:before,
          &:focus:before  {
            color: mix($menu-font-background, $menu-font-color-active, 50%);
          }
        }

        @for $i from 0 through 8 {
          &:nth-child(#{$i}) {
            @include transform(translate3d(200%, 200% - 100% * $i ,0));
          }
        }
      }
    }

    &.opened {
      pointer-events: inherit;
      height: 100%;
      border-width: 30px 90px 30px 10px;
      background-color: rgba(0,0,0,0.3);
      @include transition(border-width 0.3s, background-color 0.3s);

      .nav-overlay {
        height: 100%;
      }

      .nav-trigger {
        span {
          background-color: transparent;

          &:before {
            @include transform(translateY(0) rotate(45deg));
            background: $menu-trigger-color-open;
          }
          &:after {
            @include transform(translateY(0) rotate(-45deg));
            background: $menu-trigger-color-open;
          }
        }
      }

      .nav-list {
        li {
          visibility: visible;
          opacity: 1;
          transition: transform 0.3s, opacity 0.3s;
          transform: translate3d(0,0,0);
        }
      }
    }
  }
}

