<div class="page body-taf" ng-controller="tafApplicationCtrl">
  <div class="row">
    <h2 ng-if="!mode.edit.title" ng-click="mode.edit.title = true">{{tournament.title || 'Turniereingabe'}}</h2>
    <div ng-if="mode.edit.title">
      <form ng-submit="mode.edit.title = false"><input type="text" ng-model="tournament.title"></form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <span>Slow: </span><label class="ui-switch"><input ng-model="tournament.hasSlow" type="checkbox"><i></i></label>
    </div>
    <div class="col-xs-4">
      <span>Quick: </span><label class="ui-switch"><input ng-model="tournament.hasQuick" type="checkbox"><i></i></label>
    </div>
    <div class="col-xs-4">
      <span>Kür: </span><label class="ui-switch"><input ng-model="tournament.hasKuer" type="checkbox"><i></i></label>
    </div>
    <div class="col-xs-3">
      <div>
        <label>Anzahl der Wertungsrichter</label>
        <input type="text" ng-model="tournament.count.judges">
      </div>
    </div>
    <div class="col-xs-3">
      <div>
        <label>Anzahl der Paare</label>
        <input type="text" ng-model="tournament.count.couples">
      </div>
    </div>
  </div>

  <div class="row collapsed collapse-trigger">
    <div class="col-xs-12" collapse-trigger>
      <h3>Wertungsrichter</h3>
    </div>
    <div class="col-xs-12 collabsable">
    </div>
  </div>

  <div class="row collapse-trigger">
    <div class="col-xs-12" collapse-trigger>
      <h3>Paare</h3>
    </div>
    <div class="col-xs-12 collabsable">
      <table class="table table-striped">
        <thead>
          <th>Dame</th>
          <th>Herr</th>
          <th>Wertungen</th>
          <th>Platz</th>
        </thead>
        <tbody ng-repeat="couple in tournament.couples track by couple.number">
          <tr>
            <td ng-bind="couple.names.follower"></td>
            <td ng-bind="couple.names.leader"></td>
            <td class="row">
              <div class="col-xs-12" ng-if="tournament.hasSlow" ng-bind="couple.slow.values"></div>
              <div class="col-xs-12" ng-if="tournament.hasQuick" ng-bind="couple.quick.values"></div>
              <div class="col-xs-12" ng-if="tournament.hasKuer" ng-bind="couple.kuer.values"></div>
            </td>
            <td class="row">
              <div class="col-xs-6">
                <div class="col-xs-12" ng-if="tournament.hasSlow" ng-bind="couple.slow.place"></div>
                <div class="col-xs-12" ng-if="tournament.hasQuick" ng-bind="couple.quick.place"></div>
                <div class="col-xs-12" ng-if="tournament.hasKuer" ng-bind="couple.kuer.place"></div>
              </div>
              <div class="col-xs-6" ng-bind="couple.place"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row"><pre class="col-xs-12">{{tournament | json}}</pre></div>
</div>



<!--
  <div class="row">
    <table class="table table-striped">
      <thead>
        <th colspan="2">Paar</th>
        <th colspan="{{input.judges.length}}">Wertungen</th>
        <th>PZ</th>
        <th>Platz</th>
      </thead>
      <tbody class="taf-input">
        <tr>
          <td class="name" ng-attr-rowspan="{{rows() + 1}}">
            <input type="text" ng-model="input.couple.leader">
            <input type="text" ng-model="input.couple.follower">
          </td>
          <td class="line" ng-attr-colspan="{{judgeCount + 2}}"></td>
          <td class="place" rowspan="{{rows() + 1}}">
            <a class="btn btn-success btn-block" ng-click="addCouple(input.couple)">+</a>
          </td>
        </tr>
        <tr ng-if="settings.slow">
          <td>Slow</td>
          <td class="value" ng-repeat="(index, value) in input.judges">
            <input radial-select="input.couples" radial-width="{{settings.radialWidth}}" radial-border="{{settings.radialBorder}}" class="col-xs-12" type="text" ng-model="input.couple.SD.values[index]">
          </td>
          <td>{{couple.SD.pz}}</td>
        </tr>
        <tr ng-if="settings.quick">
          <td>Quick</td>
          <td class="value" ng-repeat="(index, value) in input.judges">
            <input radial-select="input.couples" radial-width="{{settings.radialWidth}}" radial-border="{{settings.radialBorder}}" class="col-xs-12" type="text" ng-model="input.couple.DF.values[index]">
          </td>
          <td>{{couple.DF.pz}}</td>
        </tr>
        <tr ng-if="settings.kuer">
          <td>Kür</td>
          <td class="value" ng-repeat="(index, value) in input.judges">
            <input radial-select="input.couples" radial-width="{{settings.radialWidth}}" radial-border="{{settings.radialBorder}}" class="col-xs-12" type="text" ng-model="input.couple.KR.values[index]">
          </td>
          <td>{{couple.KR.pz}}</td>
        </tr>
      </tbody>
      <tbody class="taf-input" ng-repeat="couple in store.tournament.couples">
        <tr>
          <td class="name" ng-attr-rowspan="{{rows() + 1}}">
            <input type="text" ng-model="couple.names.leader">
            <input type="text" ng-model="couple.names.follower">
          </td>
          <td class="line" ng-attr-colspan="{{judgeCount + 2}}"></td>
          <td class="place" ng-attr-rowspan="{{rows() + 1}}">{{couple.place}} [{{couple.PZ}}]</td>
        </tr>
        <tr ng-if="settings.slow">
          <td>Slow</td>
          <td class="value" ng-repeat="(index, value) in store.tournament.judges">
            <div tooltip="{{value.name}}">
              <input radial-select="input.couples" radial-width="{{settings.radialWidth}}" radial-border="{{settings.radialBorder}}" class="col-xs-12" type="text" ng-model="couple.SD.values[index]">
            </div>
          </td>
          <td>{{couple.SD.pz}}</td>
        </tr>
        <tr ng-if="settings.quick">
          <td>Quick</td>
          <td class="value" ng-repeat="(index, value) in store.tournament.judges">
            <div tooltip="{{value.name}}">
              <input radial-select="input.couples" radial-width="{{settings.radialWidth}}" radial-border="{{settings.radialBorder}}" class="col-xs-12" type="text" ng-model="couple.DF.values[index]">
            </div>
          </td>
          <td>{{couple.DF.pz}}</td>
        </tr>
        <tr ng-if="settings.kuer">
          <td>Kür</td>
          <td class="value" ng-repeat="(index, value) in store.tournament.judges">
            <div tooltip="{{value.name}}">
              <input radial-select="input.couples" radial-width="{{settings.radialWidth}}" radial-border="{{settings.radialBorder}}" class="col-xs-12" type="text" ng-model="couple.KR.values[index]">
            </div>
          </td>
          <td>{{couple.KR.pz}}</td>
        </tr>
      </tbody>
    </table>

    <div type="text" radial-select="numbers" ng-model="value" />
-->